# ignore all root items
/*
__pycache__/

# unignore folders
!docs/
!github_pr_rules_analyzer/
!static/
!templates/
!tests/
!deploy/

# unignore files
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!Makefile
!.pre-commit-config.yaml
!.editorconfig
!.stylelintrc.json
!LICENSE
!AGENTS.md
!biome.json
